[submodule "src/libvirt-provider"]
	path = src/libvirt-provider
	url = http://git.moehl.eu/ironcore/libvirt-provider.git
[submodule "src/ironcore"]
	path = src/ironcore
	url = http://git.moehl.eu/ironcore/ironcore.git
[submodule "src/inisix"]
	path = src/inisix
	url = http://git.moehl.eu/ironcore/inisix.git
[submodule "src/FeCNI"]
	path = src/FeCNI
	url = https://github.tools.sap/I775095/FeCNI.git
