[Unit]
Description=IronCore machinepoollet
Wants=network-online.target cloud-init.target
After=network-online.target cloud-init.target
After=libvirt-provider.service
AssertPathExists=/etc/bootstrap-kubeconfig-machinepool/bootstrap-kubeconfig

[Service]
# TODO: machinepoollet tries to load the leader election kubeconfig
# unconditionally, even if it doesn't need it. We point it at the bootstrap
# config to satisfy that requirement as it won't start otherwise. This should be
# fixed so that disabled leader election doesn't even try to load the
# configuraiton.
ExecStart=/usr/local/bin/machinepoollet \
    --health-probe-bind-address=[::1]:8081 \
    --metrics-bind-address=[::1]:8080 \
    --machine-pool-name=%H \
    --provider-id=libvirt-provider://%H \
    --machine-runtime-endpoint=unix:/var/run/libvirt-provider/libvirt-provider.sock \
    --kubeconfig=/var/lib/machinepoollet/kubeconfig \
    --bootstrap-kubeconfig=/etc/bootstrap-kubeconfig-machinepool/bootstrap-kubeconfig \
    --leader-election-kubeconfig=/etc/bootstrap-kubeconfig-machinepool/bootstrap-kubeconfig \
    --rotate-certificates \
    --topology-region-label=${TOPOLOGY_REGION} \
    --topology-zone-label=${TOPOLOGY_ZONE} \
    --machine-downward-api-label=root-machine-namespace="metadata.labels['downward-api.machinepoollet.ironcore.dev/root-machine-namespace']" \
    --machine-downward-api-label=root-machine-name="metadata.labels['downward-api.machinepoollet.ironcore.dev/root-machine-name']" \
    --machine-downward-api-label=root-machine-uid="metadata.labels['downward-api.machinepoollet.ironcore.dev/root-machine-uid']" \
    --nic-downward-api-label=root-nic-namespace="metadata.labels['downward-api.machinepoollet.ironcore.dev/root-nic-namespace']" \
    --nic-downward-api-label=root-nic-name="metadata.labels['downward-api.machinepoollet.ironcore.dev/root-nic-name']" \
    --nic-downward-api-label=root-nic-uid="metadata.labels['downward-api.machinepoollet.ironcore.dev/root-nic-uid']"
Restart=on-failure

# No [Install] section on purpose: machinepoollet.service is activated by
# machinepoollet.path once the libvirt-provider socket exists, not pulled
# in by the default target directly.
